* {
  margin: 0;
  padding: 0;
}

#homeNav {
  margin: -1em;
  border-bottom: rgb(110, 180, 162) 3px solid;
}

#logo-navbar {
  height: 200px;
  width: 200px;
  margin-top: -1em;
  margin-bottom: -2em;
}

#active-link {
  font-weight: bold;
  color: rgb(110, 180, 162);
}

#active-link:visited{
  font-weight: bold;
  color: rgb(110, 180, 162);
}

#active-link:hover{
  font-weight: bold;
  color: rgb(110, 180, 162);
}

#active-link:hover {
  font-weight: bold;
  color: rgb(110, 180, 162);
}

#active-link:active{
  font-weight: bold;
  color: rgb(110, 180, 162);
}

.img-center {
  margin: 0 auto;
}

.link {
  color: rgb(110, 180, 162);
  font-weight: bold;
  text-decoration: underline;
  /* padding-top: 10em; */
}

.mail {
  color: rgb(110, 180, 162);
  font-weight: normal;
  text-decoration: underline;
  padding-top: 10em;
}

.c {
  font-size: x-large;
  font-style: normal;
  font-weight: bold;
  color: rgb(110, 180, 162);
}

.cTitle{
  color: rgb(110, 180, 162);
}

.center {
  width: 100%;
  margin: 0 auto;
}

#infoConnectieHuys::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.paddingDiv {
  padding-left: 3em;
  padding-right: 3em;
}

html {
  scroll-behavior: smooth;
}

.list-unstyled {
  margin-top: 1rem;
}

.h2Logo {
  max-width: 100%;
  text-align: center;
}

#ulLi {
  margin-bottom: 1em;
}

#arrowDown1 {
  text-align: center;
  font-size: 3em;
}

body {
  margin: 0;
  padding: 1em;
  font-size: 17px;
  background-color: #f9f9f9;
  line-height: 1.6;
  animation: bodyVisible;
  animation-duration: 2s;
}

#showcase {
  background-image: url("../img/logo_png.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 120px;
  line-height: 1.2;
  color: #f9f9f9;
  text-shadow: 5px 5px 7px rgb(110, 180, 162);
}

#showcase .button {
  opacity: 1;
  font-size: 50px;
  text-decoration: none;
  color: rgb(110, 180, 162);
  border: #f9f9f9f9 1px solid;
  align-self: flex-end;
  padding: 10px 2em;
  border-radius: 10px;
  margin-top: 10px;
}

#showcase:hover .button {
  transition: 1s ease-in-out;
  opacity: 1;
}

#showcase .button:hover {
  background: rgb(110, 180, 162);
  color: white;
}

.logoHeader {
  height: 100vh;
}

#visible {
  animation: logoVisibleHidden;
  animation-duration: 4s;
}

#bodyHuys {
  animation: bodyVisible;
  animation-duration: 1s;
}

#logoVisibleOnLoad {
  height: 100vh;
}

#logoVisibleOnLoad:hover {
  transition: 0.75s ease-in-out;
  opacity: 75%;
}

#socials{
  color: rgb(110, 180, 162);
}

@viewport {
  width: device-width;
  height: 100vh;
  zoom: 1;
}

@keyframes bodyVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logoVisibleHidden {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*RESPONSIVENESS*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .quoteLanding h2 {
    margin-top: -10em;
    padding: 1em;
    font-size: 20px;
  }
  .landingBody {
    background-position: top;
  }
  #showcase {
    background-image: url("../img/logo_png.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  #showcase .button {
    opacity: 1;
    font-size: 35px;
    text-decoration: none;
    color: rgb(110, 180, 162);
    align-self: center;
    padding: 10px 20px;
    margin-top: 2em;
  }

  #showcase:hover .button {
    transition: 1s ease-in-out;
    opacity: 1;
  }

  #HuysContainer{
    padding-top: 3em;
  }

  #imgIngeHuys {
    width: 250px;
  }


  #quoteHuys1 {
    margin: auto;
    text-align: center;
  }

  #arrowDown1 {
    visibility: hidden;
  }

  #arrowUp1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 0.5em;
  }
  #leftCol {
    border-bottom: 2px solid rgb(110, 180, 162);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .quoteLanding h2 {
      margin-top: -10em;
      padding: 1em;
      font-size: 20px;
    }
    .landingBody {
      background-position: top;
    }
    #showcase {
      background-image: url("../img/logo_png.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 20px;
    }
    #showcase .button {
      opacity: 1;
      font-size: 35px;
      text-decoration: none;
      color: rgb(110, 180, 162);
      align-self: center;
      padding: 10px 20px;
      margin-top: 2em;
    }

    #showcase:hover .button {
      transition: 1s ease-in-out;
      opacity: 1;
    }

    #HuysContainer{
      padding-top: 3em;
    }

    #imgIngeHuys {
      max-width: 100%;
      margin: auto;
    }

    #meerOver {
      width: 100%;
      text-align: center;
    }

    #quoteHuys1 {
      margin: auto;
      text-align: center;
    }

    #arrowUp1 {
      text-align: center;
      font-size: 3em;
      padding-bottom: 0.5em;
    }
    #leftCol {
      border-right: 2px solid rgb(110, 180, 162);
    }
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #imgIngeHuys {
    max-width: 100%;
    padding-left: 1.5em;
  }
  #leftCol {
    border-right: 2px solid rgb(110, 180, 162);
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .quoteLanding h2 {
    margin-top: -7.5em;
    padding: 1em;
    font-size: 25px;
  }
  .quoteLanding p {
    margin-top: -1em;
  }
  .landingBody {
    background-position: top;
  }
  #showcase {
    background-image: url("../img/logo_png.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  #showcase .button {
    opacity: 1;
    font-size: 35px;
    text-decoration: none;
    color: rgb(110, 180, 162);
    align-self: flex-end;
    padding: 10px 20px;
    margin-top: 2em;
  }
  #showcase:hover .button {
    transition: 1s ease-in-out;
    opacity: 1;
  }
  #showcase .button:hover {
    background: rgb(110, 180, 162);
    padding: 1em 1em 1em 1em;
    color: white;
  }

  #imgIngeHuys {
    width: 100%;
    border-radius: 5px;
    margin-left: -3em;
  }

  #imgOverInge {
    width: 400px;
    border-radius: 5px;
  }

  #imgLogoHuys {
    padding-top: 1em;
  }

  #imgTextAbout {
    padding: 2em;
  }

  #imgTextAbout p {
    margin-left: 2em;
  }

  #arrowUp1 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 0.5em;
  }

  #h1-inge{
    margin-bottom: 1em;
  }

  #arrowDown1Over{
    text-align: center;
    padding-top: 4em;
  }

  #arrowDown{
    color: rgb(110, 180, 162);
    padding: 1em;
    border-radius: 10px;
  }

  #arrowDown:hover{
    transition: 1s ease-in-out;
    background-color: rgb(110, 180, 162);
    color: white;
  }

  #imgTextAbout div{
    padding-bottom: 1em;
  }

  #imgTextAbout #div2{
    padding-top: 2em;
  }
  #leftCol {
    border-right: 2px solid rgb(110, 180, 162);
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1441px) {
  .quoteLanding h2 {
    margin-top: -7.5em;
    padding: 1em;
    font-size: 25px;
  }
  .quoteLanding p {
    margin-top: -1em;
  }
  .landingBody {
    background-position: top;
  }
  #showcase {
    background-image: url("../img/logo_png.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  #showcase .button {
    opacity: 1;
    font-size: 35px;
    text-decoration: none;
    color: rgb(110, 180, 162);
    align-self: flex-end;
    padding: 10px 20px;
    margin-top: 2em;
  }
  #showcase:hover .button {
    transition: 1s ease-in-out;
    opacity: 1;
  }
  #showcase .button:hover {
    background: rgb(110, 180, 162);
    padding: 1em 1em 1em 1em;
    color: white;
  }

  #imgIngeHuys{
    width: 1000px;
    margin-left: -15em;
  }

  #textIngeHuys{
    font-size: 20px;
    margin-right: -15em;
  }


  #h1-inge{
    padding-bottom: 2em;
  }

  #leftCol {
    border-right: 2px solid rgb(110, 180, 162);
  }
}








.footer-distributed{
	background-color: #52645d;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-company-about a{
	color: tomato;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-fixed{
  position: fixed;
  bottom: 0;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {


	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.nav-tabs>.nav-item>.nav-link{
  color: black!important;
}

.nav-tabs>.nav-item>.nav-link.active{
  color:rgb(110, 180, 162)!important;
}

.nav-link.active{
  color:rgb(110, 180, 162)!important;
}


